.container {
    height: 80vh;
}

.VideosRecomendados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tituloOutrosVideos{
    text-align: center;
    font-size: 32px;
    font-weight: 500;
}

.liCard{
   
}